.list {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.list-selection {
  background-color: inherit;
}

.ul {
  background-color: inherit;
  padding: 0;
}

.element {
  cursor: pointer;
  background-color: white;
  transition: background-color 400ms ease-in-out;
}

.element:hover {
  background-color: #4dabf5;
}
